In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/home/rajarabii/projects/data_basa_immobiliers/data/appartemetn.csv')

In [3]:
df.head()

,title,price,datetime,nb_rooms,nb_baths,surface_area,link,city_name,equipements
0,Maison avec piscine,250000,2024-12-01 14:00:00,4,2,120,https://example.com/maison1,Casablanca,Piscine/Sauna/Garage
1,Appartement spacieux,150000,2024-12-05 10:00:00,3,1,85,https://example.com/appartement1,Rabat,Balcon/Ascenseur
2,Villa de luxe,500000,2024-11-20 18:00:00,6,4,300,https://example.com/villa1,Marrakech,Piscine/Jardin/Spa
3,Appartement cosy,120000,2024-11-15 12:00:00,2,1,70,https://example.com/appartement2,Fès,Ascenseur
4,Maison moderne,320000,2024-11-18 09:00:00,5,3,250,https://example.com/maison2,Tanger,Piscine/Garage

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         12 non-null     object
 1   price         12 non-null     int64
 2   datetime      12 non-null     object
 3   nb_rooms      12 non-null     int64
 4   nb_baths      12 non-null     int64
 5   surface_area  12 non-null     int64
 6   link          12 non-null     object
 7   city_name     12 non-null     object
 8   equipements   12 non-null     object
dtypes: int64(4), object(5)
memory usage: 996.0+ bytes

In [13]:
df['title'] = df['title'].fillna('').astype(str)
df['link'] = df['link'].astype(str)
df['city_name'] = df['city_name'].astype(str)
df['equipements'] = df['equipements'].astype(str)

In [18]:
df.dtypes

title           object
price            int64
datetime        object
nb_rooms         int64
nb_baths         int64
surface_area     int64
link            object
city_name       object
equipements     object
dtype: object